<!-- prettier-ignore -->
{% extends 'accounts/base.html' %}     

{% block content %}
<main class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900"
  >
    <a
      href="{% url 'accounts:login' %}"
      class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white"
    >
      <span>Toko Online</span>
    </a>
    <!-- Card -->
    <div
      class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800"
    >
      <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
        Sign in to platform
      </h2>
      {% if messages %} {% for message in messages %}
      <div
        class="flex p-4 mb-4 text-sm text-{{ message.tags }}-800 rounded-lg bg-{{ message.tags }}-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          aria-hidden="true"
          class="flex-shrink-0 inline w-5 h-5 mr-3"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <div>{{ message|safe }}</div>
      </div>
      {% endfor %} {% endif %}
      <form class="mt-8 space-y-6" method="post" novalidate>
        {% csrf_token %}
        <div>
          <label
            for="{{form.username.id_for_label}}"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{ form.username.label_tag }}</label
          >
          {{form.username}}
          <!-- prettier-ignore -->
          {% if form.password.errors %}
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {% for error in form.password.errors %} {{ error }} {% endfor %}
          </p>
          {% endif %}
        </div>
        <div>
          <label
            for="{{form.password.id_for_label}}"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{ form.password.label_tag }}</label
          >
          {{form.password}}
          <!-- prettier-ignore -->
          {% if form.password.errors %}
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {% for error in form.password.errors %} {{ error }} {% endfor %}
          </p>
          {% endif %}
        </div>
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="remember"
              aria-describedby="remember"
              name="remember"
              type="checkbox"
              class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
              required
            />
          </div>
          <div class="ml-3 text-sm">
            <label
              for="remember"
              class="font-medium text-gray-900 dark:text-white"
              >Remember me</label
            >
          </div>
          <a
            href="{% url 'accounts:forgot-password' %}"
            class="ml-auto text-sm text-primary-700 hover:underline dark:text-primary-500"
            >Forgot Password?</a
          >
        </div>
        <button
          type="submit"
          class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          Login to your account
        </button>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
          Not registered?
          <a
            href="{% url 'accounts:register' %}"
            class="text-primary-700 hover:underline dark:text-primary-500"
            >Create account</a
          >
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock content %}
