<!-- prettier-ignore -->
{% extends 'accounts/base.html' %}


{% block content %}
<main class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900"
  >
    <a
      href="{% url 'accounts:login' %}"
      class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white"
    >
      <span>Toko Online</span>
    </a>
    <!-- Card -->
    <div
      class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800"
    >
      <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
        Create a Free Account
      </h2>
      <form class="mt-8 space-y-6" method="post" novalidate>
        {% csrf_token %}
        <div>
          <label
            for="{{form.username.id_for_label}}"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{ form.username.label_tag }}</label
          >
          {{ form.username }}
          <!-- prettier-ignore -->
          {% if form.username.errors %}
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {% for error in form.username.errors %} {{ error }} {% endfor %}
          </p>
          {% endif %}
        </div>
        <div>
          <label
            for="{{form.password1.id_for_label}}"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{ form.password1.label_tag }}</label
          >
          {{ form.password1 }}
          <!-- prettier-ignore -->
          {% if form.password1.errors %}
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {% for error in form.password1.errors %} {{ error }} {% endfor %}
          </p>
          {% endif %}
        </div>
        <div>
          <label
            for="{{form.password2.id_for_label}}"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >{{ form.password2.label_tag }}</label
          >
          {{ form.password2 }}
          <!-- prettier-ignore -->
          {% if form.password2.errors %}
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {% for error in form.password2.errors %} {{ error }} {% endfor %}
          </p>
          {% endif %}
        </div>
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="remember"
              aria-describedby="remember"
              name="remember"
              type="checkbox"
              class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
              required
            />
          </div>
          <div class="ml-3 text-sm">
            <label
              for="remember"
              class="font-medium text-gray-900 dark:text-white"
              >I accept the
              <a
                href="#"
                class="text-primary-700 hover:underline dark:text-primary-500"
                >Terms and Conditions</a
              ></label
            >
          </div>
        </div>
        <button
          type="submit"
          class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          Create account
        </button>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
          Already have an account?
          <a
            href="{% url 'accounts:login' %}"
            class="text-primary-700 hover:underline dark:text-primary-500"
            >Login here</a
          >
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock content %}
